* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}


.box-1 {
    grid-area: jeremy;
}

.box-2 {
    grid-area: work;
}

.box-3 {
    grid-area: play;
}

.box-4 {
    grid-area: study;
}

.box-5 {
    grid-area: exercise;
}

.box-6 {
    grid-area: social;
}

.box-7 {
    grid-area: self-care;
}

.box {
    background-color: hsl(235, 46%, 20%);
    border-radius: 15px;
    color: white;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 375px));
    grid-template-rows: repeat(2, minmax(300px, auto));
    gap: 2rem;
    grid-template-areas:
        "jeremy work play study"
        "jeremy exercise social self-care";    
    max-width: 1200px;
    padding: 2rem;
}

@media screen and (max-width: 1199px) {
    .container {
        grid-template-columns: repeat(2, minmax(350px, 1fr));
        grid-template-rows: repeat(4, minmax(300px, auto));
        gap: 2rem;
        grid-template-areas:
            "jeremy jeremy"
            "work play"
            "study exercise"
            "social self-care";
        width: 100%;     
        max-width: 800px;   
    }
}

@media screen and (max-width: 767px) {
    .box {
        padding: 1rem;
    }

    .container {
        grid-template-columns: repeat(1, minmax(300px, 1fr));
        grid-template-rows: repeat(7, minmax(300px, auto));
        gap: 2rem;
        grid-template-areas:
            "jeremy"
            "work"
            "play"
            "study"
            "exercise"
            "social"
            "self-care";
        width: 100%;
        padding: 1rem;
    }
}