* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


.center-structure {
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(226, 43%, 10%);
}

.box-1 {
    grid-area: jeremy;
    background-color: hsl(235, 46%, 20%);
    border-radius: 1rem;
}

.box-2 {
    grid-area: work;
    background: url(../imgs/icon-work.svg) no-repeat right 1rem top -.2rem;
    background-size: 55px 55px;
    background-color: hsl(15, 100%, 70%);

}

.box-3 {
    grid-area: play;
    background: url(../imgs/icon-play.svg) no-repeat right 1rem top -.2rem;
    background-size: 55px 55px;
    background-color: hsl(195, 74%, 62%);
}

.box-4 {
    grid-area: study;
    background: url(../imgs/icon-study.svg) no-repeat right 1rem top -.2rem;
    background-size: 55px 55px;
    background-color: hsl(348, 100%, 68%);
}

.box-5 {
    grid-area: exercise;
    background: url(../imgs/icon-exercise.svg) no-repeat right 1rem top -.2rem;
    background-size: 55px 55px;
    background-color: hsl(145, 58%, 55%);
}

.box-6 {
    grid-area: social;
    background: url(../imgs/icon-social.svg) no-repeat right 1rem top -.2rem;
    background-size: 95px;
    background-color: hsl(264, 64%, 52%);
}

.box-7 {
    grid-area: self-care;
    background: url(../imgs/icon-self-care.svg) no-repeat right 1rem top -.2rem;
    background-size: 55px 55px;
    background-color: hsl(43, 84%, 65%);
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-radius: 1rem;
    color: white;

}

.box-structure {
    background-color: hsl(235, 46%, 20%);
    height: 75%;
    border-radius: 1rem;
    padding: 2rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 375px));
    grid-template-rows: repeat(2, minmax(230px, auto));
    gap: 2rem;
    grid-template-areas:
        "jeremy work play study"
        "jeremy exercise social self-care";
    max-width: 1200px;
    padding: 2rem;
}

.profile {
    background-color: hsl(246, 80%, 60%);
    padding: 2rem;
    border-radius: 1rem;
    height: 65%;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.profile-name {
    font-size: 2rem;
}

.profile img {
    width: 70px;
    border: 3px solid white !important;
    border-radius: 50%;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.current-time {
    font-size: 2.5rem;
    font-weight: 300;
}

.last-time {
    color: hsl(236, 100%, 87%);
}

.timeframes {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: baseline;
    margin: 2rem 2rem;
    gap: 2rem;
    max-width: 150px;
}

.item-body-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.btn-time {
    background: none;
    border: none;
    color: hsl(236, 100%, 87%);
    font-size: 1rem;
    cursor: pointer;
    font-weight: 500;
}

.btn-time:hover {
    color: white;
    font-weight: 700;
}

.btn-time:focus {
    outline: none;
    color: white;
    font-weight: 700;
}

.btn-time.activo {
    color: white;
    font-weight: 700;
}



@media screen and (max-width: 1199px) {
    .container {
        grid-template-columns: repeat(2, minmax(350px, 1fr));
        grid-template-rows: repeat(4, minmax(300px, auto));
        gap: 2rem;
        grid-template-areas:
            "jeremy jeremy"
            "work play"
            "study exercise"
            "social self-care";
        width: 100%;
        max-width: 800px;
    }

    .timeframes {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 2rem auto;
        gap: 2rem;
    }

    .profile {
        display: flex;
        align-items: center;
        gap: 2rem;
        padding: 2rem;
        height: 75%;
    }

    .profile img {
        width: 115px;
    }
}

@media screen and (max-width: 991px) {
    .container {
        grid-template-columns: repeat(2, minmax(300px, 1fr));
        max-width: 700px;
        margin: auto;
    }
}

@media screen and (max-width: 767px) {
    .timeframes {
        justify-content: space-between;
        max-width: 100%;
        padding: 1rem;
        margin: 1rem auto;
    }
    
    .item {
        justify-content: flex-start;
        gap: 1rem;
    }

    .item-body-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .profile {
        padding: 1rem;
        flex-direction: row;
        height: 60%;
    }

    .profile img {
        width: 70px;
    }

    .box-structure {
        padding: 1rem;
    }

    .box {
        padding: 0rem;
    }

    .container {
        grid-template-columns: repeat(1, minmax(300px, 1fr));
        grid-template-rows: repeat(7, minmax(150px, auto));
        gap: 2rem;
        grid-template-areas:
            "jeremy"
            "work"
            "play"
            "study"
            "exercise"
            "social"
            "self-care";
        width: 100%;
        padding: 1rem;
        margin: 4rem auto;
    }
}